#header {
    font-family: 'Libre Baskerville', serif;
    height: 50px;
    width: 100%;
    
}

#header-name {
    font-size: 24px;
    color: white;
    position: fixed;
    margin: 1px auto;
    
      
}

#header-img {
    width: 46px;
    height: 46px;
    background-image: "https://media.gettyimages.com/vectors/stethoscope-flat-design-naturopathy-icon-with-side-shadow-vector-id925601512?s=612x612";
    position: relative;
    margin-bottom: 4px;
}

.navbar-custom {
    background-image: linear-gradient(to right,#602352 , white);
}