<link rel="stylesheet" href="https://unpkg.com/primeng@4.0.1/resources/themes/omega/theme.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://unpkg.com/primeng@4.0.1/resources/primeng.min.css" />

<form [formGroup] = "patientSearchForm">

   <fieldset class="form-group" id="searchCriteria">
    <legend>Search Criteria</legend>
    <div class="form-row">
        <div class="col">
            <label for="firstName">First Name</label>
            <input type="text" 
            class="form-control" 
            id="firstName" 
            name="firstName"
            placeholder="First Name"
            formControlName = "firstName"
            >   
        </div>
        <div class="col">
            <label for="lastName">Last Name</label>
            <input type="text" 
            class="form-control" 
            id="lastName" 
            placeholder="Last Name"
            name = "lastName"
            formControlName = "lastName">    
        </div>
        <!-- <div class="col">
            <label for="patientId">Patient Id</label>
            <input type="text" 
            class="form-control" 
            id="patientId" 
            placeholder="Patient #"
            name = "patientId"
            formControlName = "patientId">    
        </div> -->
        <div class="col">
            <label for="dob">Date of Birth</label>
            <input type="date" 
            class="form-control" 
            id="dob"
            name = "dob"
            formControlName = "dob">    
        </div>
        <div class="col">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" formControlName = "gender" name = "gender">
                <option value=''>Gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>   
        </div>
        <div class="col">
            <label for="phone">Phone #</label>
            <input type="number" 
            class="form-control" 
            id="phone" 
            placeholder="Phone #"
            name = "phone"
            formControlName = "phone"
            pattern = "^[1-9][0-9]*$">   
        </div>
        <!-- <div class="col">
            <label for="postalCode">PostalCode</label>
            <input type="number" 
            class="form-control" 
            id="postalCode" 
            placeholder="Postal Code"
            name = "postalCode"
            pattern = "^[1-9][0-9]*$"
            formControlName = "postalCode">   
        </div> -->
    </div>
    <div id="formButtons">
            <button type="submit" 
            id="searchButton" 
            class="btn btn-outline-primary btn-sm" (click) = "onSearch()">Search <i class="fa fa-fw fa-search"></i></button>
        
            <button type="button" 
            id="clearButton" 
            class="btn btn-outline-secondary btn-sm" (click) = "onClear()">Clear</button>
              
    </div>
    
   </fieldset>
</form>
<br>

<fieldset id="searchResults">
    <legend>Search Results</legend>
    <p-table #dt [columns]="cols" 
                [value] = "patients" 
                editMode = "row"
                dataKey = "pId"
                [rows]="10" 
                [paginator]="patients.length > 0"
                [scrollable]="true" 
                scrollHeight="384px" 
                [virtualRowHeight]="25"
                >
        <!-- <ng-template pTemplate="caption">
            List of Patients
        </ng-template> -->
        <ng-template pTemplate = "header" let-columns>
            <tr>
                <th class="expandRow"></th>
                <th [ngClass]="'tableStyle'" *ngFor="let col of columns" [pSortableColumn] = "col.field">{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th class="editButtons">Action</th>
               </tr> 
        </ng-template>
        <ng-template pTemplate = "body"
                     let-rowData
                     let-expanded="expanded"
                     let-editing="editing" 
                     let-ri="rowIndex"
                     >      
            <tr [ngClass]="'tableStyle'" 
                [pEditableRow]="rowData"
                >
                <td [pRowToggler]="rowData" class="expandRow">
                    <a  href="#detailedView">
                        <i [ngClass]="expanded ? 'pi pi-chevron-circle-down' : 'pi pi-chevron-circle-right'"></i>
                    </a>
                 </td>
                <td [pRowToggler]="rowData"> 
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.firstName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.firstName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pRowToggler]="rowData">
                    <p-cellEditor>
                        <ng-template pTemplate="input"> 
                            <input pInputText type="text" [(ngModel)]="rowData.lastName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ rowData.lastName }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pRowToggler]="rowData">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.dob">
                        </ng-template>
                        <ng-template pTemplate="output">
                        {{ rowData.dob }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pRowToggler]="rowData">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.gender">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ rowData.gender }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pRowToggler]="rowData">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.phone">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ rowData.phone }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center" class="editButtons">
                    
                    <button *ngIf="!editing" 
                            pButton 
                            type="button" 
                            pInitEditableRow
                            class="btn btn-secondary btn-sm"
                            (click)="onRowEditInit(rowData)"
                            >
                        <i class="pi pi-pencil"></i>
                    </button>
                    <button *ngIf="editing"
                            pButton
                            type="button"
                            pSaveEditableRow
                            class="btn btn-success btn-sm"
                            style="margin-right: .5em"
                            (click)="onRowEditSave(rowData)">
                        <i class="pi pi-check"></i>
                    </button>
                    <button *ngIf="editing"
                            pButton
                            type="button"
                            pCancelEditableRow
                            class="btn btn-danger btn-sm"
                            (click)="onRowEditCancel(rowData, ri)">
                        <i class="pi pi-times"></i>
                    </button>
                </td>
            </tr>
            <!-- <tr>
                <td>
                    <div>
                        <h5>Patient Details: </h5>
                        <ul>
                            <li>First Name: {{rowData.firstName}}</li>
                        </ul>
                    </div>
                </td>
            </tr> -->
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns" id="detailedView">
            <tr>
                <td [attr.colspan]="columns.length + 2">
                    <fieldset class="form-group">
                        <legend>Patient Details</legend>
                            <div class="form-row">
                                <div class="col">
                                    <h6>First Name: {{rowData.firstName}}</h6>
                                    <h6>Last Name: {{rowData.lastName}}</h6>
                                    <h6>Date of Birth: {{rowData.dob}}</h6>
                                    <h6>Gender: {{rowData.gender}}</h6>
                                    <h6>Phone No.: {{rowData.phone}}</h6>
                                </div>
                            </div>
                    </fieldset>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            
            <tr *ngIf = "searchMode" [ngClass]="'tableStyle'">
                <td [attr.colspan]="columns.length" style="text-align:center">
                    No records found
                </td>
                
            </tr>
        </ng-template>
                 
    </p-table>
         
</fieldset>





