* {
    outline: none;
}


fieldset {
    padding: 5px;  
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

legend {
    font-size: 17px;
    color: #602352;
    width: auto;
    padding: 0 1px; 
    font-weight: bold;
    text-transform: uppercase;
}

#searchCriteria {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90.7%;
    height: 125px;
}

#searchResults {
    position: relative;
    left: 0px;
    margin-top: -40px;
    width: 90.7%;
    height: 520px; 
}

.form-row {
    margin-top: -15px;
}

label {
    font-size: 14px;
    color: #602352;
    margin-bottom: -3px;
}

:placeholder-shown {
    font-size: 14px;  
}


.form-control {
    font-size: 14px;
    height: 30px;
    
}

#dob {
    font-size: 14px;
    color: #6C757D;
    cursor: text;
}

#gender {
    font-size: 14px;
    color: #6C757D;
    cursor: pointer;
}

#location {
    font-size: 14px;
    color: #6C757D;
}

#searchButton {

    color: #602352;
    background-color: white;
    border-color: #602352;
}


#clearButton {
    position: relative;
    left: 10px;
    color: #602352;
    background-color: white;
    border-color: #602352;  
}

#formButtons {
    font-size: 14px;
    position: relative;
    top: 10px;
    left: -30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#searchButton:hover {
    color: white;
    background-color: #602352;
}

#clearButton:hover {
    color: white;
    background-color: #602352;
}

p-table {
    position: relative;
    top: -10px;
}
:host /deep/ div.ui-table-scrollable-header {
    height: 40px;
    text-transform: uppercase;
}

:host /deep/ .ui-table-scrollable-body-table .ui-table-tbody > tr > td {
    padding-top: 1px;
    padding-bottom: 1px;
}

:host /deep/ tr.ng-star-inserted {
    font-family: 'Libre Baskerville', serif;
    
}
:host /deep/ tr.ng-star-inserted fieldset.form-group {
    width: 49%;
    height: 190px;
    font-size: 12px;
    color: #602352;
    background: #F9F6F8;
    margin-top: 5px;
}
:host /deep/ tr.ng-star-inserted fieldset > legend {
    font-weight: bolder;
    font-size: 12px;
}


:host /deep/ tr.ng-star-inserted fieldset > p-table {
    position: absolute;
    margin-top: 26px;
    width: 98.3%;
} 
:host /deep/ tr.ng-star-inserted fieldset 
> p-table .ui-table.ui-widget .ui-table-scrollable-wrapper.ng-star-inserted 
.ui-table-scrollable-view .ui-table-scrollable-header.ui-widget-header {
    height: 32px;
}
:host /deep/ tr.ng-star-inserted fieldset 
> p-table .ui-table.ui-widget .ui-table-scrollable-wrapper.ng-star-inserted 
.ui-table-scrollable-view .ui-table-scrollable-header.ui-widget-header .ui-table-thead .ng-star-inserted > th
{
    color: #602352 !important;
    font-size: 12px;
    font-weight: lighter;
}
:host /deep/ tr.ng-star-inserted fieldset 
> p-table .ui-table.ui-widget .ui-table-scrollable-wrapper.ng-star-inserted 
.ui-table-scrollable-view .ui-table-scrollable-body .ui-table-scrollable-body-table .ui-table-tbody .ng-star-inserted > td
{
    color: #602352 !important;
    font-size: 12px;
    padding-top: 0.8px;
    padding-bottom: 1px;
}

:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div {
    margin-top: -12px;
}
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div .form-group.row {
    margin-bottom: 5px;
}

:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div .form-group.row > label {
    font-size: 12px;
}
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div .form-group.row > input{
    height: 25px;
    font-size: 12px;
    margin-left: -20px;
    margin-top: 3px;
    min-width: 135px;
    font-family: 'Libre Baskerville', serif !important;
    color: #602352;
    
}
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div .form-group.row > ng-select.col-sm-9.ng-select .ng-select-container{
    min-height: 25px;
    max-height: 25px;
    overflow-y: scroll;
    margin-left: -35px;
}

::ng-deep .ng-dropdown-panel {
    top: 347px !important;
    bottom: auto;
    opacity: 0 !important;
}

::ng-deep div.ng-dropdown-panel-items{
    width: 420px;
    margin-left: -20px;
    margin-top: -20px;
    font-size: 12px;
    font-family: 'Libre Baskerville', serif !important;
    color: #602352 !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover
{
    height: 25px;
    color: #602352;
    font-size: 12px;
}

:host /deep/ #addNotes {
    height: 20px;
    margin-left: 11px;
    margin-top: 5px;
    padding-left: 0px;
    padding-top: 0px;
    font-family: 'Libre Baskerville', serif !important;
    color: #602352;
    min-width: 80px;
}

:host /deep/ p-dialog > div.ui-dialog-wrapper.ng-tns-c98-2.ng-star-inserted.ui-widget-overlay.ui-dialog-mask.ui-dialog-mask-scrollblocker {
    opacity: 1;
}
:host /deep/ p-dialog > div.ui-dialog-wrapper.ng-tns-c98-2.ng-star-inserted.ui-widget-overlay.ui-dialog-mask.ui-dialog-mask-scrollblocker >
div.ng-trigger.ng-trigger-animation.ng-tns-c98-2.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ng-star-inserted > div.ui-dialog-content.ui-widget-content.ng-tns-c98-2 > textarea {
   width: 100%;
}

:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div .form-group.row .tButtonAdd,
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div .form-group.row .tButtonCancel {
    margin-right: 10px;
    color: #602352;
    background-color: white;
    border-color: #602352;
    font-family: 'Libre Baskerville', serif !important;
    height: 20px;
    padding-top: 0px;
    font-size: 12px !important;
}
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div .form-group.row > .tButtonAdd:hover,
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div .form-group.row .tButtonCancel:hover {
    color: white;
    background-color: #602352;
}
#treatmentTableFormGroup {
    position: absolute;
    
}

#addTreatmentFormGroup {
    position: relative;
    margin-left: 51%;
    
}

.tableStyle {
    color: #602352 !important;
    font-family: 'Libre Baskerville', serif !important;
}

.tableStyle:hover {
    cursor:pointer;
    background: #F1ECF0 !important;
  }

.btn-secondary { 
   color:#602352;
   height: 20px;
   width: 20px;
   border-color: #602352;
   background-color: white;
   padding-left: 0px;
   padding-top: 0px;
   
}


.btn-success {
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    padding-left: 1px;
    padding-top: 0px;
}


.btn-danger {
    color:red;
    background-color: white;
    height: 20px;
    width: 20px;
    padding-left: 1px;
    padding-top: 0px;
}

i.pi.pi-chevron-circle-down {
    color: #602352;
    position: relative;
    left: -9px;
    top: 2px;
     
}
i.pi.pi-chevron-circle-right {
    color: #602352;
    position: relative;
    left: -9px;
    top: 2px;
}

i.pi.pi-sort-down {
    color: lightgray;
    position: relative;
    left: -9px;
}

.editButtons {
    width: 80px;
}

.expandRow {
    width: 25px;
}

