* {
    outline: none;
}


fieldset {
    padding: 5px;  
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

legend {
    font-size: 17px;
    color: #602352;
    width: auto;
    padding: 0 1px; 
    font-weight: bold;
    text-transform: uppercase;
}

#searchCriteria {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90.7%;
    height: 118px;
}

#searchResults {
    position: relative;
    left: 0px;
    margin-top: -40px;
    width: 90.7%;
    height: 528px; 
}

.form-row {
    margin-top: -15px;
}

label {
    font-size: 14px;
    color: #602352;
    margin-bottom: -3px;
    
}

:placeholder-shown {
    font-size: 12px;  
}


.form-control {
    font-size: 12px;
    height: 25px;
    
}

#dob {
    font-size: 12px;
    color: #6C757D;
    cursor: text;
}

#gender {
    font-size: 12px;
    color: #6C757D;
    cursor: pointer;
}

#location {
    font-size: 14px;
    color: #6C757D;
}

#searchButton {

    color: #602352;
    background-color: white;
    border-color: #602352;
    height: 22px;
    padding-top: 0px;
}


#clearButton {
    position: relative;
    left: 10px;
    color: #602352;
    background-color: white;
    border-color: #602352; 
    height: 22px;
    padding-top: 0px; 
}

#formButtons {
    font-size: 12px !important;
    position: relative;
    top: 14px;
    left: -30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 15px;
}

#searchButton:hover {
    color: white;
    background-color: #602352;
}

#clearButton:hover {
    color: white;
    background-color: #602352;
}

p-table {
    position: relative;
    top: -10px;
}

:host /deep/ p-paginator > div > span.ui-paginator-pages > a.ui-paginator-page.ui-paginator-element.ui-state-default.ui-corner-all.ui-state-active{
    background-color: #754168;
    outline: none;
}

:host /deep/ div.ui-table-scrollable-header {
    height: 30px;
    text-transform: uppercase;
}

:host /deep/ .ui-table-scrollable-body-table .ui-table-tbody > tr > td {
    padding-top: 1px;
    padding-bottom: 1px;
}

:host /deep/ tr.ng-star-inserted {
    font-family: 'Libre Baskerville', serif;
    
}

#treatmentTableFormGroup {
    position: relative;
    left: 0px;
    top: 12px;
}
::ng-deep p-tabview .ui-tabview.ui-widget.ui-widget .ui-tabview-panels .ui-tabview-panel.ui-widget-content.ng-star-inserted p-table 
.ui-table.ui-widget .ui-table-scrollable-wrapper.ng-star-inserted .ui-table-scrollable-view 
.ui-table-scrollable-body table.ui-table-scrollable-body-tablet tbody.ui-table-tbody 
tr.ng-star-inserted td{
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
    min-height: 15px;
}
:host /deep/ #showNotes {
    height: 17px;
    margin-left: 11px;
    margin-top: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    font-family: 'Libre Baskerville', serif !important;
    color: #602352;
    max-width: 140px;
}

:host /deep/ p-dialog > div.ui-dialog-wrapper.ng-star-inserted.ui-widget-overlay.ui-dialog-mask.ui-dialog-mask-scrollblocker {
    opacity: 1;
    width: 100%;
    z-index: 1000 !important;
    
}

#addTreatmentFormGroup {
    position: relative;
    left: 10px;
    top: 0px;
}

#addNotes {
    height: 20px;
    padding-top: 0px;
    margin-top: 4px;
    font-family: 'Libre Baskerville', serif !important;
    color: #602352;
    font-size: 12px;
    min-width: 150px;
    max-width: 150px;
}
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div > form > div .form-group {
    width: 100%;
    height: 30px;
    font-size: 12px;
    color: #602352;
    background: #F9F6F8;
    margin-bottom: 4px;
}

:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div > form > div .form-group.row > label {
    font-size: 12px;
    font-family: 'Libre Baskerville', serif !important;

}
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div > form > div .form-group.row > input{
    height: 25px;
    font-size: 12px;
    margin-top: 3px;
    min-width: 135px;
    font-family: 'Libre Baskerville', serif !important;
    color: #602352;
    margin-left: 20px;
    
}
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div > form > div  .form-group.row > ng-select.col-sm-5.ng-select .ng-select-container{
    min-height: 25px;
    max-height: 25px;
    overflow-y: scroll;
    margin-left: 5px;
    font-family: 'Libre Baskerville', serif !important;
    color: #602352;
    font-size: 12px;
}

::ng-deep .ng-dropdown-panel {
    top: 347px !important;
    bottom: auto;
    opacity: 0 !important;
}

::ng-deep div.ng-dropdown-panel-items{
    width: 453px;
    margin-left: 20px;
    margin-top: -29px;
    font-size: 12px;
    font-family: 'Libre Baskerville', serif !important;
    color: #602352 !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover
{
    height: 25px;
    color: #602352;
    font-size: 12px;
}
:host /deep/ p-dialog > div.ui-dialog-wrapper.ng-star-inserted.ui-widget-overlay.ui-dialog-mask.ui-dialog-mask-scrollblocker >
div.ng-trigger.ng-trigger-animation.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ng-star-inserted > div.ui-dialog-content.ui-widget-content > textarea {
   width: 100%;
   height: 100px;
   resize: none;
   overflow-y: scroll;
}

:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div > form > div .form-group.row .tButtonAdd,
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div > form > div .form-group.row .tButtonCancel {
    margin-right: 10px;
    margin-top: 10px;
    color: #602352;
    background-color: white;
    border-color: #602352;
    font-family: 'Libre Baskerville', serif !important;
    height: 20px;
    padding-top: 0px;
    font-size: 12px !important;
}
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div > form > div .form-group.row > .tButtonAdd:hover,
:host /deep/ tr.ng-star-inserted #addTreatmentFormGroup > div > form > div .form-group.row .tButtonCancel:hover {
    color: white;
    background-color: #602352;
}


/* Tab View for Treatment Details, Add Treatments and Schedule Appointment */
::ng-deep body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, 
::ng-deep body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, 
::ng-deep body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active,
::ng-deep body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active{
     height: 20px !important;
     background-color: #602352;
     border: 1px solid #602352;
     box-shadow: none;
 }
 ::ng-deep body .ui-tabview.ui-tabview-top .ui-tabview-nav li a, 
 ::ng-deep body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a, 
 ::ng-deep body .ui-tabview.ui-tabview-left .ui-tabview-nav li a, 
 ::ng-deep body .ui-tabview.ui-tabview-right .ui-tabview-nav li a{
    color: #602352;
    padding: 0em 0.7em;
    font-family: 'Libre Baskerville', serif !important;
    font-weight: lighter;
    font-size: 12px;
 }
 ::ng-deep body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover, 
 ::ng-deep body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active:hover, 
 ::ng-deep body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active:hover, 
 ::ng-deep body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active:hover {
     background-color: #602352;
     border: 1px solid #602352;
 }
 ::ng-deep body .ui-widget {
     margin-top: 2px;
     font-size: 12px !important;
 }
 ::ng-deep body .ui-tabview.ui-tabview-top,
 ::ng-deep body .ui-tabview.ui-tabview-bottom,
 ::ng-deep body .ui-tabview.ui-tabview-left,
 ::ng-deep body .ui-tabview.ui-tabview-right
{
    background-color: #F9F6F8 !important;
}

 ::ng-deep body .ui-tabview .ui-tabview-panels {
    background-color: #F9F6F8 !important;
    height: 140px;
    margin-bottom: 10px;
    box-shadow: none;
 }

th {
    color: #602352 !important;
    font-family: 'Libre Baskerville', serif !important;
}

#searchTableHeader {
    padding-top: 0px !important;
}
tr {
    color: #602352 !important;
    font-family: 'Libre Baskerville', serif !important;
}

tr:hover {
    background: #F9F6F8 !important;
}
p-cellEditor {
    font-size: 13px;
}

p-cellEditor:hover {
    cursor:pointer;
}

.btn-secondary { 
   color:#602352;
   height: 20px;
   width: 20px;
   border-color: #602352;
   background-color: white;
   padding-left: 1px;
   padding-top: 0px;
}


.btn-success {
    color: green;
    background-color: white;
    height: 20px;
    width: 20px;
    padding-left: 1px;
    padding-top: 0px;
}


.btn-danger {
    color:red;
    background-color: white;
    height: 20px;
    width: 20px;
    padding-left: 1px;
    padding-top: 0px;
}

i.pi.pi-chevron-circle-down {
    color: #602352;
    position: relative;
    left: -9px;
    top: 2px;
     
}
i.pi.pi-chevron-circle-right {
    color: #602352;
    position: relative;
    left: -9px;
    top: 2px;
}

i.pi.pi-sort-down {
    color: lightgray;
    position: relative;
    left: -7px;
    bottom: 2px;
}

.editButtons {
    width: 85px;
}

.expandRow {
    width: 20px;
}



