* {
    font-family: 'Libre Baskerville', serif;
    outline: none;
}

fieldset {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
     
}
legend {
    font-size: 17px;
    color: #602352;
    width: auto;
    font-weight: bold;
    padding: 0 1px;   
}
#pcForm {
    position: relative;
    top: 0px;
    left: 0px;
    width: 90.7%;
    overflow-x: hidden; 
}
/* background: #F1ECF0; */

p-accordionTab {
    color: #602352;
    font-size: 14px;
}

:host /deep/ .ui-accordion {
    margin-top: -10px;
}

:host /deep/ .ui-accordion .ui-accordion-header a{
    background-image: linear-gradient(to right,#602352 , white) !important;
    color: white;
    border-color: lightgray !important;
}

:host /deep/ .ui-accordion .ui-accordion-header .ui-accordion-toggle-icon{
    color: white;  
}

:host /deep/ .ui-accordion .ui-accordion-header:hover a span{
    
    border-color: white !important;
    color: #D4C4D0 !important;
}

:host /deep/ .ui-accordion .ui-accordion-content {
    border-radius: 5px;
}

.form-control {
    max-width: 300px;
    margin-top: 2px;
    font-size: 14px;
    height: 30px;
}

/* .form-group {
    margin-top: -12px;
    
} */

#gender {
    cursor: pointer;
}


:placeholder-shown {
    font-size: 14px;  
}

#dob {
    font-size: 14px;
    color: #6C757D;
    /* width: 180px; */
    cursor: pointer;
}

label {
   
    font-size: 14px;
    color: #602352;
}

#p-city::after {
    content: "City, Town";
    color: grey;
    font-size: 10px;
    padding: 5px;
}
#p-state::after {
    content: "State";
    color: grey;
    font-size: 10px;
    padding: 5px;
}
#p-postalcode::after {
    content: "Mobile, Landline etc.";
    color: grey;
    font-size: 10px;
    padding: 5px;
}
#p-country::after {
    content: "Country";
    color: grey;
    font-size: 10px;
    padding: 5px;
}

#searchButton {

    color: #602352;
    background-color: white;
    border-color: #602352;
    
}

#cancelButton {
    position: relative;
    left: 10px;
    color: #602352;
    background-color: white;
    border-color: #602352;  
    
}

#cancelButton:hover {
    color: white;
    background-color: #602352;
}

#searchButton:hover {
    color: white;
    background-color: #602352;
}

#searchButton:disabled:hover {
    color: #602352;
    background-color: white;
    border-color: #602352;
    cursor: default;
}

#patientCheckinButtons {
    font-size: 14px;
    width: 80%;
    position: relative;
    bottom: -10px;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

