input:focus, textarea:focus, select:focus, li:focus{
  outline: none;
}

/* removing blue outline on select menu li */
.ng-tns-c96-1.active {
  outline: none;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#pageContentWrapper {
    position: fixed;
    top: 45px;
    left: -55px;
    margin-top: 2px;
    margin-left: 2px;
    width: 100%;
    height: 100%;
  }
/* 
#pageContentWrapper::before {
    background-image: url("https://images.unsplash.com/photo-1533158388470-9a56699990c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    content: '';
    display: block;
    position: fixed;
    transform: scaleY(-1);
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    width: 103.5%;
    height: 100%;
    z-index: -2;
    opacity: 0.5;
  } */

  #header {
    background-image: linear-gradient(to right,#602352 , white) !important;
    height: 46px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .navbar-brand {
    position: absolute;
    top: 0px;
    left: 50px;
    color: white !important;
    font-size: 27px;
    /* text-transform: uppercase; */
  }


  #login {
    color: #602352;
    background: #F7F5F7;
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid#B5B0BF;
  
  }

  #login:hover {
    color: white;
    background: #AA8AA3;
  }

  #menu-toggle {
    position: absolute;
    top: 0px;
    font-size: 24px;
    height: 45px;
    width: 43px;
    background: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 0px 1px 8px;
  }

  #menu-toggle:hover {
     background: #AA8AA3;
    /* animation: pulse 3s ease infinite alternate; */
  }
  .icon-bar {
    width: 27px; 
    height: 2px;
    background-color: white;
    display: block;
    margin-top: 6px;
  }

  .toggleIcon {
    width: 27px;
    height: 12px;
  }

  .toggleIcon:hover {
    animation: spin 0.3s alternate;
  }
 
  #sidebarWrapper{
    position: fixed;
    left: 0px;
    top: 40px;
    height: 100%;
    z-index: 999;
    background-image: linear-gradient(to bottom,#602352 , white) !important;
    overflow-x: hidden;
  }

  
  #sidebarWrapper ul li{
    height: 60px;
    list-style: none;
    border-bottom: 1px solid#B5B0BF;
    border-radius: 3px;
    margin-left: -40px;
    padding-left: 3px; 
  }

  #sidebarWrapper ul li a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    top: -15px;
    left: 45px;
    font-weight: bold;
    font-size: 15px !important;
    color: white;   
  }
  #sidebarWrapper ul li:hover {
    background:#E1D7DF;
    border-right: 1px solid lightgray;
  }

  #sidebarWrapper ul li:hover a{
    color: #602352;
  }

  #sidebarWrapper ul li i::before > a:hover {
    color: #602352;

  }
  #sidebarWrapper ul li:hover i{
    color: #602352;
    cursor: pointer !important;
    animation: swing ease-in-out 0.5s 1 alternate;
  }


  #sidebarWrapper ul li i{
    font-size: 30px !important;
    color: white;
    position: relative;
    top: 15px;
    right: 0px;
  }

#pcIcon {
  padding-left: 5px;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}




