
  #router-outlet {
    position: absolute;
    left: 180px;
    right: 5px;
    margin-top: 2px;
    padding: 2px;
    width: 86%;
  }

  /* The side navigation menu */
.sidebar {
  width: 180px;
  background-image: linear-gradient(to right,#602352, #BA9FB4);
  position: absolute;
  left: 0px;
  top: 50px;
  height: 280px;
  overflow: auto;
  border-right: 1px solid lightgray;

}

/* Sidebar links */
.sidebar a {
  padding: 20px 0px 20px 0px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 70px;
}

/* Active/current link */
.sidebar a.active {
  background-color: white;
    color: #602352;
    border-bottom: 2px solid #602352;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color:white;
    color: #602352;
    border-bottom: 2px solid #602352; 
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

